@page "/screenShare"
<h1>ShareScreen Agent</h1>
<div class="container">
    <div class="row">
        <div class="text-center col-6">
            <h4>Agent Name</h4>
            <input type="text" @bind-value="agentName" @bind-value:event="oninput" @onkeyup="OnEnter" />
            <button @onclick="StartShare" disabled="@(string.IsNullOrEmpty(agentName))">Start Share</button>
        </div>
        <div class="col-6">
            <ChatWindow ChatMessages="@messages" OnSendChat="SendChat"/>
        </div>
    </div>
</div>
<hr />
@if (isShareReady)
{
    <ShareSignalRPage AgentName="@agentName" />
}
